---
import Layout from '../layouts/Layout.astro';
---
<Layout title="会社概要">
  <div class="container" style="padding-top: 80px;">
    <p class="section-label">About</p>
    <h1>会社概要</h1>
  </div>
</Layout>
