---
import Layout from '../layouts/Layout.astro';
---
<Layout title="お問い合わせ">
  <div class="container" style="padding-top: 80px;">
    <p class="section-label">Contact</p>
    <h1>お問い合わせ</h1>
  </div>
</Layout>
